<div>
  <form action="">
    <div class="form-control bg-slate-200 rounded py-3  m-5 w-2/12 flex">
      <input
        class="bg-slate-200 "
        (input)="onUpdate($event)"
        type="text"
        required
        minlength="5"
        maxlength="15"
      />
      <p class="text-gray-500 pl-10">{{textCount.length}}/15</p>
    </div>

	<input class="bg-rose-600 text-white rounded m-5 px-3 cursor-pointer disabled:bg-rose-200" [disabled]="this.textCount.length < 6"  type="submit" />
  </form>
</div>
